<header class="topbar">
    <div class="left-section">
        <img src="images/profile.jpg" class="profile-pic" />

        <div class="identity">
            <div class="name">Nancy Hou</div>
            <div class="title">Software Engineer</div>
        </div>
    </div>

    <nav class="nav-links">
        <NavLink class="nav-item" href="" Match="NavLinkMatch.All">
            <i class="bi bi-house-fill nav-icon"></i>
            <div class="nav-label">Home</div>
        </NavLink>

        <NavLink class="nav-item" href="skills">
            <i class="bi bi-wrench-adjustable-circle-fill nav-icon"></i>
            <div class="nav-label">Skills</div>
        </NavLink>

        <NavLink class="nav-item" href="contact">
            <i class="bi bi-chat-dots-fill nav-icon"></i>
            <div class="nav-label">Contact</div>
        </NavLink>
    </nav>
</header>
