@using Portfolio.Models
<div class="skill-card">
    <h3>@Title</h3>

    <ul>
        @foreach (var skill in Items)
        {
            <li>@skill.Name</li>
        }
    </ul>
</div>

@code {
    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public List<SkillsList> Items { get; set; } = new();
}

