@page "/contact"
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>Contact</PageTitle>

<div class="contact-container">
        <h1 class="contact-title">
            <i class="bi bi-envelope-fill"></i>
            Contact Me
        </h1>

        <ContactForm />
</div>
