@page "/"

<PageTitle>About Me</PageTitle>

<h1>Hi, I'm Nancy</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis velit vel augue dictum hendrerit tempus et velit. Aenean tristique, nulla fringilla scelerisque facilisis, ante mi lacinia tellus, ut molestie diam nisl non dolor. Mauris vel massa convallis, consectetur eros ac, consequat nisi.
</p>

<p>
    Vestibulum feugiat luctus dolor, et convallis nibh pharetra et. Mauris ac nisl et nunc eleifend blandit. Suspendisse potenti.
</p>