@page "/"

<PageTitle>About Me</PageTitle>
<div class="main-container">
    <h1 class="main-title">Hi, I'm Nancy</h1>

    <p class="main-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis velit vel augue dictum hendrerit tempus et velit.
    </p>

    <div class="button-row">
        <a href="/skills" class="primary-btn">View Skills</a>
        <a href="/contact" class="secondary-btn">Contact</a>
    </div>
</div>
