@page "/"

<PageTitle>About Me</PageTitle>
<div class="main-container">
    <h1 class="main-title">Hi, I'm Nancy</h1>

    <p class="main-description">
        a software engineer who’s passionate about building things that feel good to use. I care about clean design, smooth interactions, and code that makes life easier — not harder. Whether I’m crafting a UI, debugging a tricky issue, or learning a new framework, I love the process of turning ideas into something real. I’m always exploring new tools, improving my skills, and pushing myself to create work I’m proud of.
    </p>

    <div class="button-row">
        <a href="/skills" class="primary-btn">View Skills</a>
        <a href="/contact" class="secondary-btn">Contact</a>
    </div>
</div>
